body{
	background: black;
}

body.srp, body{
		background: black;
}

.CvDJxb {
	background: #000000c4;
}

:root{
	--gS5jXb:#000000;
	--xhUGwc:#000000;
}

.w8oiwc, .qe1Dgc{
	background: black;
}

.rEow3c{
	--m3c17:#ffffff;
	--m3c5:#000000;
}


.s7d4ef, .RDmXvc {
    background-image: linear-gradient(transparent 0px, rgb(0 0 0 / 90%) 52px, #000000 80px);
    background-color: black;
}

.aajZCb{
	  background:#000000db;
}

.RNNXgb{
	  background:#121212;
}

.emcav .RNNXgb, .zNsLfb, .c93Gbe{
		background: black;
}

#gb {
    background-color: transparent !important;
}

.aRDKUe .Lvwayc {
    background: #3131319c;
}

.KLEmSd {
    border-bottom: 1px solid #000000;
}